.destination-page{
    min-height: 100vh;
    background: url("../../assets/destination/background-destination-desktop.jpg")no-repeat;
    background-size: cover;
    color: $color-white;
}

.destination-main{
    width: 80%;
    margin: 3rem auto 0;
    .title{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 4.7px;
        font-weight: 400;
        margin-bottom: 3rem;
        span{
            font-weight: 700;
            opacity: 0.25;
        }
    }
    .destination-section{
        display: flex;
        justify-content: space-between;
        .img-planet{
            margin-left: 2rem;
            margin-right: min(2rem, 5%);
            img{
                width: 445px;
                height: 445px;
            }
        }
        .right{
            max-width: 445px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .links-planet{
                font-family: 'Barlow Condensed', sans-serif;
                display: flex;
                justify-content: space-between;
                width: 285px;
                a{
                    position: relative;
                    list-style: none;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 2.7px;
                    text-transform: uppercase;
                    padding-bottom: 1rem;
                }
                .active{
                    color: $color-white;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $color-white;
                    }
                }
                .not-active{
                    color: $color-blue;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 3px;
                        background-color: rgba($color: $color-white, $alpha: 0.5);
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }
                    &:hover:after{
                        transform: scaleX(1);                
                        transform-origin: bottom left;
                    }
                }
            }
            .title-planet{
                font-size: 100px;
                text-transform: uppercase;
                font-weight: 400;
            }
            .description{
                color: $color-blue;
                font-size: 18px;
                text-align: justify;
                line-height: 32px;
                border-bottom: 1px solid #383b4b;
                padding-bottom: 2rem;
            }
            .info{
                display: flex;
                gap: 5rem;
                text-transform: uppercase;
                h2{
                    font-family: 'Barlow Condensed', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    color: $color-blue;
                    letter-spacing: 2.4px;
                }
                .distance, .travel{
                    font-size: 28px;
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .destination-page{
        background: url("../../assets/destination/background-destination-tablet.jpg")no-repeat;
        background-size: cover;
        height: auto;
    }
    .destination-main{
        width: 94%;
        .title{
            font-size: 20px;
            letter-spacing: 3.4px;
        }
        .destination-section{
            flex-direction: column;
            align-items: center;
            .img-planet{
                img{
                    width: 300px;
                    height: 300px;
                }
            }
            .right{
                align-items: center;
                max-width: 575px;
                margin-top: 2rem;
                .title-planet{
                    margin-top: 2rem;
                    font-size: 80px;
                }
                .description{
                    font-size: 16px;
                    text-align: center;
                    line-height: 28px;
                }
                .info{
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .destination-page{
        background: url("../../assets/destination/background-destination-mobile.jpg")no-repeat;
        background-size: cover;
    }
    .destination-main{
        width: 90%;
        .title{
            text-align: center;
            font-size: 16px;
            letter-spacing: 2.7px;
        }
        .destination-section{
            .img-planet{
                img{
                    width: 170px;
                    height: 170px;
                }
            }
            .right{
                .links-planet{
                    width: 237px;
                    a{
                        font-size: 14px;
                        letter-spacing: 2.4px;
                    }
                }
                .title-planet{
                    font-size: 56px;
                }
                .description{
                    font-size: 15px;
                    text-align: center;
                    line-height: 25px;
                }
                .info{
                    flex-direction: column;
                    gap: 2rem;
                    text-align: center;
                }
            }
        }
    }
}