.home-page{
    min-height: 100vh;
    background: url("../../assets/home/background-home-desktop.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    color: $color-white;
}

.home-main{
    width: 80%;
    margin: 25vh auto 0;
    display: flex;
    justify-content: space-between;
    .left{
        .topSpace{
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 4.7px;
            color: $color-blue;
            text-transform: uppercase;
        }
        .title{
            font-size: 150px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 2rem 0;
        }
        .parag{
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            color: $color-blue;
            text-align: justify;
            max-width: 444px;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        button{
            position: relative;
            font-family: 'Bellefair', serif;
            height: 274px;
            width: 274px;
            border-radius: 100%;
            border: none;
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 274px;
                width: 274px;
                border-radius: 100%;
                border: none;
                background: rgba($color: $color-white, $alpha: 0.1);
                transform: scale(1);
                transition: transform .4s;
            }
            &:hover:after{
                transform: scale(1.60);
            }
        }
    }
}

@media (max-width: 1100px) {
    .home-page{
        background: url("../../assets/home/background-home-tablet.jpg")no-repeat;
        display: flex;
        flex-direction: column;
        background-size: cover;
        height: auto;
    }
    .home-main{
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        .left{
            .topSpace{
                font-size: 20px;
                text-align: center;
                letter-spacing: 3.4px;
            }
            .title{
                margin: 1rem 0;
            }
            .parag{
                text-align: center;
                font-size: 16px;
                line-height: 28px;
            }
        }
        .right{
            button{
                margin-bottom: 3rem;
                height: 242px;
                width: 242px;
                &:after{
                    height: 242px;
                    width: 242px;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .home-page{
        background: url("../../assets/home/background-home-mobile.jpg")no-repeat;
        background-size: cover;
    }
    .home-main{
        margin-top: 0;
        .left{
            .topSpace{
                font-size: 16px;
                letter-spacing: 2.7px;
            }
            .title{
                margin: 1rem 0;
                font-size: 80px;
                text-align: center;
            }
            .parag{
                font-size: 15px;
                line-height: 25px;
                max-width: 327px;
            }
        }
        .right{
            button{
                margin-bottom: 1rem;
                height: 150px;
                width: 150px;
                font-size: 20px;
                &:after{
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }
}


