*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    width: 1120px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    min-height: 8vh;
    .nav-links{
        display: flex;
        justify-content: space-between;
        width: 40%;
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
            color: hsl(236, 13%, 42%);
            font-weight: 400;
        }
        a:hover{
            color: hsl(35, 77%, 62%);
        }
    }
    .burger {
        display: none;
        cursor: pointer;
        div {
            width: 40px;
            height: 3px;
            background-color: hsl(240, 100%, 5%);
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}

main{
    display: flex;
}

section{
    width: 68%;
    margin-right: 35px;
    .desktop{
        background-image: url("../assets/images/image-web-3-desktop.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
    }
    .container{
        display: flex;
        margin-top: 30px;
        h1{
            width: 50%;
            font-size: 55px;
            margin-right: 15px;
        }
        .intro-btn{
            width: 45%;
            display: flex;
            flex-direction: column;
            p{
                font-size: 15px;
                flex-grow: 1;
                line-height: 25px;
                font-weight: 400;
                color: hsl(236, 13%, 42%);
            }
            button{
                background-color: hsl(5, 85%, 63%);
                color: hsl(36, 100%, 99%);
                width: 50%;
                height: 50px;
                border: none;
                letter-spacing: 4px;
                cursor: pointer;
            }
            button:hover{
                background-color: hsl(240, 100%, 5%);
            }
        }
    }
}

aside {
    background-color: hsl(240, 100%, 5%);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    width: 32%;
    h1 {
        color: hsl(35, 77%, 62%);
        font-size: 40px;
    }
    .allblock{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    .block {
        border-top: 1px solid hsl(236, 13%, 42%);
        h2{
            margin: 30px 0;
            color: hsl(36, 100%, 99%);
            font-size: 20px;
            cursor: pointer;
        }
        h2:hover{
            color: hsl(35, 77%, 62%);
        }
        p{
            color: hsl(236, 13%, 42%);
            margin: 10px 0;
            font-size: 15px;
        }
        &:first-child{
            border: none;
        }
    }
}

footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    .block{
        width: 350px;
        height: 130px;
        display: flex;
        .image-retro{
            background-image: url("../assets/images/image-retro-pcs.jpg");
            background-size: cover;
            width: 30%;
        }
        .image-laptops{
            background-image: url("../assets/images/image-top-laptops.jpg");
            background-size: cover;
            width: 30%;
        }
        .image-gaming{
            background-image: url("../assets/images/image-gaming-growth.jpg");
            background-size: cover;
            width: 30%;
        }
        .info{
            width: 65%;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                font-size: 15px;
                line-height: 22px;
                color: hsl(236, 13%, 42%);
            }
            h1{
                color: hsl(233, 8%, 79%);
            }
            h3{
                color: hsl(240, 100%, 5%);
                cursor: pointer;
            }
            h3:hover{
                color: hsl(5, 85%, 63%);
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 671px){
    body{
        width: 90%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    header{
        .nav-links{
            width: 50%;
        }
    }
    section{
        width: 100%;
        margin: 0;
        display: flex;
        .desktop{
            width: 50%;
            margin-right: 20px;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            margin: 0;
            h1{
                width: 100%;
                font-size: 45px;
            }
            .intro-btn{
                width: 100%;
                button{
                    margin-top: 30px;
                }
            }
        }
    }
    aside{
        margin-top: 50px;
        width: 100%;
        .allblock{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .block{
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border-left: 1px solid hsl(236, 13%, 42%);
                border-top: none;
                padding: 0 20px;
                &:first-child{
                    border: none;
                }
            }
        }
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        .block{
            margin: 20px 0;
        }
    }
}

@media screen and (max-width: 670px) {
    body{
        width: 90%;
        overflow-x: hidden;
    }
    header{
        .burger{
            display: block;
        }
    }
    .nav-links{
        position: absolute;
        top: 0;
        right: 0;
        padding: 250px 0 500px 30px;
        height: 100vh;
        background-color: hsl(36, 100%, 99%);
        display: flex;
        flex-direction: column;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        li {
            opacity: 0;
        }
    }
    main{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        .desktop{
            background-image: url("../assets/images/image-web-3-mobile.jpg");
        }
        .container{
            display: flex;
            flex-direction: column;
            h1{
                width: 100%;
                font-size: 40px;
            }
            .intro-btn{
                width: 100%;
                margin-top: 20px;
                button{
                    margin: 20px 0;
                }
            }
        }
    }
    aside{
        width: 100%;
        margin-top: 50px;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        .block{
            margin-bottom: 30px;
        }
    }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
