footer{
    padding: 3rem 0;
    background-color: hsl(0, 0, 14%);
    .contact{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5rem;
        &__text{
            max-width: 28rem;
            margin-right: min(50px, 5%);
            &--title{
                font-size: 88px;
                margin-bottom: 1rem;
            }
            &--parag{
                font-size: 18px;
                line-height: 28px;
            }
        }
        .formulaire{
            padding: 1rem 0 5rem;
            width: 100%;
            max-width: 25rem;
            &__txt_field{
                border-bottom: 1px solid hsl(0, 0%, 100%);
                margin-bottom: 20px;
                input{
                    width: 100%;
                    color: hsl(0, 0%, 100%);
                    padding: 0 20px;
                    height: 40px;
                    font-size: 16px;
                    border: none;
                    background: none;
                    outline: none;
                }
                textarea{
                    width: 100%;
                    padding: 0 20px;
                    font-size: 16px;
                    height: 100px;
                    background: none;
                    border: none;
                    outline: none;
                    resize: none;
                    color: hsl(0, 0%, 100%);
                }
            }
            &__send-msg{
                text-align: end;
                input{
                    color: hsl(0, 0%, 100%);
                    cursor: pointer;
                    background: none;
                    border: none;
                    padding-bottom: 10px;
                    border-bottom: 1px solid hsl(153, 71%, 59%);
                    outline: none;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    &:hover{
                        color: hsl(153, 71%, 59%);
                    } 
                }
            }
        }
    }

    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        border-top: 1px solid hsl(0, 0%, 100%);
        span{
            font-size: 32px;
            font-weight: 700;
        }
        .icons{
            max-width: 15rem;
            display: flex;
            justify-content: space-between;
            gap: 40px;
            cursor: pointer;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
}

@media (max-width: 1024px){
    footer{
        .contact{
            &__text{
                &--title{
                    font-size: 60px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    footer{
        .contact{
            flex-direction: column;
            align-items: center;
            gap: 50px;
            &__text{
                text-align: center;
                &--title{
                    font-size: 40px;
                }
                &--parag{
                    font-size: 16px;
                }
            }
        }
        .copyright{
            flex-direction: column;
            gap: 40px;
        }
    }
}