* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto;
}

header {
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(120deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-position: 25.5% 52.5%;
  border-bottom-left-radius: 6rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  margin: auto;
  padding: 50px 0;
}
header nav .nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  flex-grow: 1;
  padding-left: 80px;
}
header nav .nav-links a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
header nav .nav-links a:hover {
  text-decoration: underline;
}
header nav .nav-links ul {
  display: none;
}
header nav .action span {
  color: hsl(0deg, 0%, 100%);
  margin-right: 2rem;
  cursor: pointer;
}
header nav .action button {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 2rem;
  color: hsl(353deg, 100%, 62%);
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 140px;
  height: 50px;
  cursor: pointer;
}
header nav .action button:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
}
header .intro-page {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: hsl(0deg, 0%, 100%);
}
header .intro-page h1 {
  font-size: 60px;
  margin-top: 4rem;
  font-weight: 300;
}
header .intro-page h4 {
  margin: 2rem 0;
  font-weight: 300;
  font-size: 20px;
}
header .intro-page .intro-btn .btn-start {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(353deg, 100%, 62%);
  border: none;
  border-radius: 2rem;
  font-weight: 300;
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 1rem;
  cursor: pointer;
}
header .intro-page .intro-btn .btn-start:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
}
header .intro-page .intro-btn .btn-learn {
  border: 1px solid hsl(0deg, 0%, 100%);
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  border-radius: 2rem;
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
header .intro-page .intro-btn .btn-learn:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(13deg, 100%, 72%);
}

main {
  font-family: "Overpass", sans-serif;
  height: 240vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .section-top {
  position: relative;
}
main .section-top h1 {
  text-align: center;
  font-size: 35px;
  color: hsl(208deg, 49%, 24%);
  margin-bottom: 8rem;
}
main .section-top .container-top {
  display: flex;
}
main .section-top .container-top article {
  width: 1120px;
  margin: 0 auto;
}
main .section-top .container-top article .one {
  margin-bottom: 3rem;
}
main .section-top .container-top article .block {
  width: 44%;
}
main .section-top .container-top article .block h3 {
  margin-bottom: 2rem;
  font-size: 25px;
  color: hsl(208deg, 49%, 24%);
}
main .section-top .container-top article .block p {
  line-height: 30px;
  color: hsl(207deg, 13%, 34%);
  font-size: 16px;
}
main .section-top .container-top .fond-circle-one {
  position: absolute;
  right: 0;
  top: -4.5rem;
  background: url("../images/illustration-editor-desktop.svg") no-repeat;
  width: 670px;
  height: 900px;
}
main aside {
  display: flex;
  position: relative;
  height: 40vh;
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(90deg, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-repeat: no-repeat;
  background-position: -49.5% 80%;
  border-radius: 0 6rem 0 6rem;
}
main aside .fond-circle-two {
  position: absolute;
  width: 600px;
  height: 55vh;
  background: url("../images/illustration-phones.svg") no-repeat;
  bottom: -5rem;
  left: 8rem;
}
main aside .space {
  width: 55%;
}
main aside article {
  font-family: "Overpass", sans-serif;
  width: 43%;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(0deg, 0%, 100%);
  position: relative;
}
main aside h3 {
  font-size: 40px;
  font-weight: 300;
}
main aside p {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
}
main .section-bot {
  display: flex;
  position: relative;
  height: 45vh;
}
main .section-bot .fond-circle-three {
  position: relative;
  width: 620px;
  height: 800px;
  background-image: url("../images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-position: 77%;
  bottom: 13rem;
}
main .section-bot article {
  width: 50%;
}
main .section-bot article .one {
  margin-bottom: 3.5rem;
}
main .section-bot article .block {
  margin-left: 9rem;
  margin-right: 5rem;
}
main .section-bot article .block h3 {
  margin-bottom: 1.6rem;
  font-size: 25px;
  color: hsl(208deg, 49%, 24%);
}
main .section-bot article .block p {
  line-height: 30px;
  color: hsl(207deg, 13%, 34%);
  font-size: 16px;
}

footer {
  height: 40vh;
  background-color: hsl(240deg, 10%, 16%);
  display: flex;
  padding: 5rem 10rem;
  border-top-right-radius: 8rem;
  margin-top: 8rem;
}
footer .logo {
  width: 20rem;
}
footer table {
  font-family: "Overpass", sans-serif;
}
footer table th {
  text-align: start;
  color: hsl(0deg, 0%, 100%);
  width: 270px;
  padding-bottom: 1rem;
}
footer table td {
  color: hsl(240deg, 2%, 79%);
}

/*
font-family: 'Overpass', sans-serif; 300 600
font-family: 'Ubuntu', sans-serif; 400 500 700
*/

/*# sourceMappingURL=style.css.map */
