*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    width: 1100px;
    margin: auto;
}

header{
    height: 28rem;
    display: flex;
    position: relative;
    .img-profile{
        height: 100%;
        width: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .profile-info{
        padding: 4rem 5rem 0 3rem;
        h1{
            position: relative;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 700;
            color: hsl(0, 0%, 22%);
            margin-bottom: 2rem;
            &:after{
                content: '';
                position: relative;
                width: 250px;
                height: 3px;
                background: black;
                left: 10px;
            }
        }
        p{
            color: hsl(236, 13%, 42%);
            font-size: 17px;
            font-weight: 500;
            line-height: 24px;
            width: 500px;
            text-align: justify;
        }
    }
    .nav-bar{
        position: absolute;
        background-color: hsl(52, 90%, 54%);
        width: 100%;
        opacity: 0.8;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 9rem;
        .infos{
            h1{
                font-size: 55px;
            }
            h2{
                font-size: 19px;
            }
        }
        .contact{
            background: white;
            padding: 0 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .block{
            display: flex;
            gap: 10px;
            align-items: center;
            i{
                display: grid;
                place-items: center;
                background-color: hsl(0, 0%, 6%);
                color: hsl(52, 90%, 54%);
                height: 40px;
                width: 40px;
                font-size: 1.4rem;
            }
        }
    }
}

section{
    display: flex;
    height: 58rem;
    .bar-section{
        background-color: hsl(0, 0%, 16%);
        color: hsl(0, 0%, 100%);
        width: 420px;
        padding: 3rem 4rem 0 4rem;
        .skills{
            h1{
                font-size: 24px;
                letter-spacing: 3px;
            }
        }
        .top-skills{
            h3{
                font-size: 20px;
                margin:2rem 0;
            }
            .list_skills{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;
                color: hsl(240, 2%, 79%);
            }
        }
        .bottom-skills{
            h3{
                font-size: 20px;
                margin: 2rem 0;
            }
            .box{
                position: relative;
                margin-bottom: 1rem;
                .title{
                    display: flex;
                    justify-content: space-between;
                    color: hsl(240, 2%, 79%);
                }
                .bar-gray{
                    height: 10px;
                    width: 100%;
                    background-color: hsl(207, 13%, 34%);
                }
                .bar-yellow{
                    position: absolute;
                    bottom: 0;
                    height: 10px;
                    background-color: hsl(52, 90%, 54%);
                }
            }
            .language{
                list-style: none;
                font-size: 20px;
                color: hsl(240, 2%, 79%);
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    aside{
        width: 680px;
        padding: 3rem 4rem 0 2rem;
        .work-exp{
            height: 33rem;
            h1{
                position: relative;
                font-size: 28px;
                color: hsl(0, 0%, 6%);
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                letter-spacing: 2px;
                &:after{
                    content: '';
                    position: relative;
                    left: 10px;
                    height: 3px;
                    width: 180px;
                    background-color: hsl(0, 0%, 6%);
                }
            }
            .box{
                display: flex;
                height: 7rem;
                .date{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    color: hsl(0, 0%, 22%);
                    font-size: 20px;
                    font-weight: 700;
                    min-width: 140px;
                    border-right: 3px solid hsl(0, 0%, 6%);
                    &:after{
                        content: '';
                        position: absolute;
                        right: -14px;
                        height: 20px;
                        width: 20px;
                        border: 3px solid hsl(0, 0%, 6%);
                        border-radius: 100%;
                        background-color: hsl(0, 0%, 100%);
                    }
                }
                .text{
                    margin-left: 3rem;
                    font-size: 20px;
                    color: hsl(236, 13%, 42%);
                }
                &:last-child{
                    height: 5rem;
                }
            }
        }
        .education{
            h1{
                position: relative;
                font-size: 28px;
                color: hsl(0, 0%, 6%);
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                letter-spacing: 2px;
                &:after{
                    content: '';
                    position: relative;
                    left: 10px;
                    height: 3px;
                    width: 250px;
                    background-color: hsl(0, 0%, 6%);
                }
            }
            .box{
                display: flex;
                height: 7rem;
                .date{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    color: hsl(0, 0%, 22%);
                    font-size: 20px;
                    font-weight: 700;
                    min-width: 140px;
                    border-right: 3px solid hsl(0, 0%, 6%);
                    &:after{
                        content: '';
                        position: absolute;
                        right: -14px;
                        height: 20px;
                        width: 20px;
                        border: 3px solid hsl(0, 0%, 6%);
                        border-radius: 100%;
                        background-color: hsl(0, 0%, 100%);
                    }
                }
                .text{
                    margin-left: 3rem;
                    font-size: 20px;
                    color: hsl(236, 13%, 42%);
                }
                &:nth-last-child(-n+2){
                    height: 5rem;
                }
            }
        }
    }
}