// Couleur primaire
$color-primary: #5D1C20;
$color-secondary: #F2E8D3;

// Couleur de fond
$color-background: #F6F5ED;

// couleurs gris
$color-grey: #F6F6F6;
$color-light-grey: #E1DEDE;
$color-dark-grey: #777777;

$color-black: #10141E;
$color-white: #FFF;

// Autres couleurs
$color-green: #0D362C;
$color-red: #E52F2F;
$color-yellow: #F2D249;

// Effet d'Ombres sur un élement
$color-black-opacity: rgba(0, 0, 0, 0.15);

// Effet d'ombres au survol
$color-black-opacity-hover: rgba(0, 0, 0, 0.30);
$color-black-hover-opacity: rgba(147, 86, 220, 0.2);

// Text
$text-small: 14px;
$text-medium: 16px;
$text-large: 18px;

// Titles
$title-small: 36px;
$title-medium: 48px;
$title-large: 60px;

// Rounded
$rounded-medium: 6px;
$rounded-full: 25px;
