* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 100%);
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.competence {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-row-gap: 50px;
  margin: 5rem 0;
}
.competence__item--language {
  font-size: 48px;
}
.competence__item--text {
  font-size: 18px;
}

.projects {
  margin-bottom: 5rem;
}
.projects__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.projects__heading--title {
  font-size: 72px;
}
.projects__heading--contact {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(153deg, 71%, 59%);
  cursor: pointer;
}
.projects__heading--contact:hover {
  color: hsl(153deg, 71%, 59%);
}
.projects__listPro {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
.projects__item {
  /********************************/
}
.projects__item .design {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}
.projects__item .design .infos {
  font-size: 24px;
  position: absolute;
  transition: 0.4s ease-in;
  bottom: 35%;
  left: 38%;
  opacity: 0;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projects__item .design .infos span {
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(153deg, 71%, 59%);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
.projects__item .design .infos span:hover {
  color: hsl(153deg, 71%, 59%);
}
.projects__item .design:hover img {
  filter: brightness(20%);
}
.projects__item .design:hover .infos {
  opacity: 1;
}
.projects__item h2 {
  font-size: 24px;
  font-weight: 700;
}
.projects__item p {
  font-size: 18px;
  word-spacing: 12px;
}

footer {
  padding: 3rem 0;
  background-color: hsl(0deg, 0%, 14%);
}
footer .contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}
footer .contact .left {
  width: 28rem;
}
footer .contact .left h1 {
  font-size: 88px;
  margin-bottom: 1rem;
}
footer .contact .left p {
  font-size: 18px;
  line-height: 28px;
}
footer .contact form {
  padding: 1rem 0 5rem;
  width: 25rem;
}
footer .contact form .txt_field {
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
  margin-bottom: 20px;
}
footer .contact form .txt_field input {
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  padding: 0 20px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
footer .contact form .txt_field textarea {
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  height: 100px;
  background: none;
  border: none;
  outline: none;
  resize: none;
  color: hsl(0deg, 0%, 100%);
}
footer .contact form .send-msg {
  text-align: end;
}
footer .contact form .send-msg input {
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  background: none;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(153deg, 71%, 59%);
  outline: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
footer .contact form .send-msg input:hover {
  color: hsl(153deg, 71%, 59%);
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  border-top: 1px solid hsl(0deg, 0%, 100%);
}
footer .copyright span {
  font-size: 32px;
  font-weight: 700;
}
footer .copyright .icons {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
footer .copyright img {
  width: 24px;
  height: 24px;
}

header {
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
  position: relative;
}
header .fond-profil {
  display: none;
  position: absolute;
  z-index: 1;
  background-image: url("../assets/images/photo_profil.jpg");
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 720px;
  right: 0;
}
header .nav {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 2rem 0;
}
header .nav__logo {
  font-size: 32px;
  font-weight: 700;
}
header .nav__icons {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}
header .nav img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
header .intro {
  position: relative;
  z-index: 2;
  margin: 5rem 0 15rem;
}
header .intro__title {
  font-size: 88px;
  word-spacing: -2.5px;
}
header .intro__nom {
  text-decoration: underline hsl(153deg, 71%, 59%);
}
header .intro__text {
  margin: 3rem 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  width: 30rem;
}
header .intro__contact {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(153deg, 71%, 59%);
  cursor: pointer;
}
header .intro__contact:hover {
  color: hsl(153deg, 71%, 59%);
}

/*# sourceMappingURL=style.css.map */
